body{
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
  display: flex;
  height:100vh;
  justify-content: center;
  align-items: center;
}

p{
  margin: 0;
}

.calc-container{
  width: 350px;
  height: 400px;
  box-sizing: border-box;
  background-color: #1F2937;
  display:flex;
  flex-direction: column;
  padding: 15px;
}

.calculation-display{
  font-size: 15px;
  color: grey;
}
.display-container{
 background-color: white;
 height: 80px;
 box-sizing: border-box;
 text-align: right;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-end;
 gap: 10px;
 padding: 0px 15px;
 font-size: 24px;
}

.

button{
  background-color: white;
  border: 1px solid #1F2937;
}

button:focus{
  outline: none;
}

button:hover{
  background-color: rgb(92, 92, 92);
  color: white;
}

.btn-container{
  margin-top: 15px;
  background-color: #3882F6;
  height: 270px;
  display: flex;
  flex-wrap: wrap;
}
.number-btn{
  box-sizing: border-box;
  padding: 10px 0px;
  width: 33.3%;
  font-size: 24px;
}
.number-btns{
  box-sizing: border-box;
  display: flex;
  width: 70%;
  flex-wrap: wrap;
}

.operator-btn{
  box-sizing: border-box;
  width: 100%;
  font-size: 29px;
}

.operator-btns{
  display: flex;
  flex-wrap: wrap;
  width: 30%;
}

.control-btns{
  width: 100%;
  display: flex;
}

.wide-btn{
  width: 66.6%;
}

.normal-btn{
  width: 33.3%;
}

